node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.DS_Store
*.pem
.env
.env.local
.env.development
.env.test
.env.production
.vercel
.netlify
build/
ios/build/
android/app/build/
android/app/src/main/assets/
android/.gradle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.vscode/
